
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Roboto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.app{
  background: linear-gradient(to right, rgb(168, 197, 220), rgb(120, 166, 188));
  transition: background 0.7s;
}

.app.warm{
  background: linear-gradient(to right, rgb(198, 93, 138), rgb(198, 93, 125));
  transition: background 0.7s;
}

.container.warm{
  background-image: url('../assets/warm-bg.jpg');
  
}
main{
  min-height: 100vh;
  position: relative;
  
}

.search-box{
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
  display: flex;
}
.shade{
  background-image: linear-gradient(to bottom,rgba(0,0,0,0.2),rgba(0,0,0,0.75));
}
.container{
  display: flex;
  flex-direction: column;
  background-image: url('../assets/cold-bg.jpg');
  max-width: 600px;
  margin: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 0.4 ease-out;
  
}



.content{
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
  height: 100vh;
  
}




.search-bar{
  padding: 10px 15px;
  font-size: 19px;
  width: 70%;
  border: none;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  margin: 0 auto;
  background-color: rgba(225, 225, 225, 0.6);
  color: black;
}
.search-bar:focus{
  outline: none;
  box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.5);
  background-color: rgba(225, 225, 225, 0.75);
}

.bottom{
  display: flex;
  background-color: rgba(225, 225, 225, 0.75);
  margin-top: 50px;
  
  border-radius: 20px;
  font-size: 20px;
  width: 70%;
  padding: 1px 15px;
  justify-content: space-evenly;
  font-family:Arial, Helvetica, sans-serif;
}
.top>div{
  font-size: 25px;
}
.top .location{
  font-size: 40px;
  font-weight: 500;
}
.top .temp{
  font-size: 3rem;
  padding: 20px 0px;
  font-weight: 600;

}

.top{
  width: 70%;
  
  margin-top: 10vh;
  border-radius: 20px;
  display: flex;
  padding:  10px 15px;
  background-color: rgba(225, 225, 225, 0.75);
  flex-direction: column;
  margin-bottom: 40px;


}

.bottom > div{
  flex: 1;
  text-align: center;
  padding: 0px 2px;
}
.val{
  font-weight: 700;
 
  
}